@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Bentham|Qwigley|Telex');
/*css Document*/
/*
font-family: 'Qwigley', cursive;
font-family: 'Bentham', serif;
font-family: 'Telex', sans-serif;
*/

body {
	background-color: blueviolet; 
}
h1  { 
	color: mediumorchid
		;
	font-family: 'Quigly', cursive;

}